
#topTitle {
	font-family: 'Jolly Lodger', cursive;
	text-align: center;
	font-size: 250%;
	font-weight: bold;
	color: #000080;
	border-bottom: 4px solid blue;
	border-top: 4px solid blue;
}

h2 {
	font-family: 'Jolly Lodger', cursive;
	font-size: 150%;
	font-weight: bold;
	color: #000080;
	border-bottom: 2px solid #000080;
}

#section {
	font-family: 'Jolly Lodger', cursive;
	float: left;
	width: 540px;
}

#sideBox {
	font-family: 'Jolly Lodger', cursive;
	float: right;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
	padding: 5px 15px 5px 15px;
	margin: 15px 15px 15px 15px;
	width: 240px;
}
